.movie__wrapper {
    list-style: none;
    padding: 0;
    margin: 0 0 50px;
}
.movie__image {
    width: auto;
    height: 300px;
    border-radius: 2%;

}
.movie__title {
    color: #333;
    font-weight: bold;


}
.movie__decription {
    color: #333;
}